<table
  [cellPadding]="10"
  class="shadow-md table border-collapse min-w-full leading-normal table-auto text-left my-3"
>
  <thead class="w-full text-xs uppercase font-light text-gray-700 bg-gray-200 py-2 px-4">
  <tr>
    <th>
      <input type="checkbox"
             name="selectedAll"
             (change)="selected()"
      >
    </th>
    {{#each fields}}
    <th>{{name}}</th>
    {{/each}}
    <th [colSpan]="2">Actions</th>
  </tr>
  </thead>
  <tbody>
  @for (item of items(); track item) {
  <tr>
    <td class="w-2">
      <input type="checkbox"
             name="test"
             [id]="item['@id']"
             [checked]="bulk.includes(item['@id']!)"
             (change)="addToBulk(item['@id']!)"
      >
    </td>
    <td>\{{ item['id'] }}</td>
    <td>\{{ item['name'] }}</td>
    <td class="w-8">
      <a [routerLink]="[item['@id']]" class="text-cyan-500">
        Show
        <app-show-svg></app-show-svg>
      </a>
    </td>
    <td class="w-8">
      <a [routerLink]="[item['id'], 'edit']" class="text-cyan-500">
        Edit
        <app-edit-svg></app-edit-svg>
      </a>
    </td>
  </tr>
  } @empty {
  <tr>
    <td colspan="2" class="text-center italic p-6">
      Pas de données.
    </td>
  </tr>
  }
  </tbody>
</table>
