<div class="sidebar px-3 py-6">
  <ul>
    <li class="py-2 hover:bg-neutral-100">
      <a routerLink="/heroes" [routerLinkActive]="['active']">
        <div class="flex just-center items-center px-4 text-lg">
          <app-list-svg/>
          <span class="ml-4">Heroes</span>
        </div>
      </a>
    </li>
    <li class="py-2 hover:bg-neutral-100">
      <a  routerLink="/heroes2" [routerLinkActive]="['active']">
        <div class="flex just-center items-center px-4 text-lg">
          <app-list-svg/>
          <span class="ml-4">Heroes</span>
        </div>
      </a>
    </li>
  </ul>
</div>
