<div class="px-4 mt-4">
  <div class="flex items-center justify-end">
    <a [routerLink]="['/{{lc}}']"
       class="text-blue-600 hover:text-blue-800">
      Back to list
    </a>
  </div>
  @if (isLoading()) {
  <div class="bg-blue-100 rounded py-4 px-4 text-blue-700 text-sm">Loading ...</div>
  } @else if (error()) {
  <div class="bg-red-100 rounded py-4 px-4 text-blue-700 text-sm">Error ...</div>
  } @else {
  <h1 class="text-3xl my-4">Edit \{{ item()['name'] }} <span class="text-xl">\{{ item()["@id"] }} </span></h1>
  <app-form-{{lc}}  [item]="item()"
                    (submit)="onSubmit($event)"
                    (delete)="delete()"
  />
  }
</div>
