<form [formGroup]="formGroup" (ngSubmit)="handleSubmit()">
  @for (field of fields; track field.name) {
  <div class="bg-white px-6 py-8">
    <div class="mb-3">
      <label [for]="field.name">{{ field.name }}</label>
      <input [id]="field.name"
             [type]="field.type"
             [formControlName]="field.name"
             class="mt-1 w-full px-3 py-2 border rounded"
      >
    </div>
  </div>
  }
  <div class="bg-neutral-100 px-4 py-6 flex justify-between">
    <button
      type="submit"
      class="px-6 py-2 bg-green-500 text-white font-medium rounded shadow-md hover:bg-green-600"
    >
      Submit
    </button>
    @if (this.delete) {
    <app-delete (click)="handleDelete()"/>
    }
  </div>
</form>
