import React from 'react';
import { FontAwesome } from "@expo/vector-icons";
import "../global.css";
import { Tabs } from "expo-router";
import StoreProvider from '@/components/StoreProvider';

function TabBarIcon(props: {
  name: React.ComponentProps<typeof FontAwesome>['name'];
  color: string;
}) {
  return <FontAwesome size={28} style={iconMargin} {...props} />;
}
const iconMargin = { marginBottom: -3 }

export default function Layout() {
  return (
    <StoreProvider>
      <Tabs screenOptions={options.tabsContainer}>
        <Tabs.Screen
          name="index"
          options={options.tabs.home}
        />
      </Tabs>
    </StoreProvider>
  )
}

const options = {
  tabsContainer: {
    headerShown: false,
    tabBarShowLabel: false,
  },
  tabs: {
    home: {
      title: 'Accueil',
      tabBarIcon: ({ color }) => <TabBarIcon name="home" color={color} />,
    },
  }
};
